<div class="container">
    <h4 class="text-center"> RealTime graph of number of users in the chatroom</h4>
    <nvd3-line-chart
            ng-model="timeData"
            data="timeData"
            showXAxis="true"
            showYAxis="true"
            tooltips="true"
            objectequality="true"
            xAxisTickFormat="xAxisTickFormat_Time_Format()"
            interactive="true">
    </nvd3-line-chart>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="message-box" id="message-box">
                <h4>
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-paper-plane-o fa-stack-1x fa-inverse"></i>
                    </span>
                    &nbsp; Messages
                </h4>
                <div scroll-div>
                    <ul>
                            <li ng-repeat="message in messages">
                                    <p>
                                        <small><i class="fa fa-user"></i> {{message.user}} : {{message.message}}</small>
                                    </p>
                            </li>
                    </ul>
                </div>
            </div>
            <form class="form-inline" ng-submit="sendMessage()" style="margin-top: 10px;">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="message" placeholder="Message" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-paper-plane-o"></i>&nbsp;Send</button>
                </div>
            </form>
            <form class="form-inline edit-box" ng-submit="changeName()">
                <h4>
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
                    </span>
                    &nbsp; Edit
                </h4>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="newname" placeholder="Change Name" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-exchange"></i>&nbsp;Change Name</button>
                </div>
            </form>
        </div>
        <div class="user-list col-xs-12 col-sm-offset-4 col-sm-2">
            <div class=" hidden-xs text-center" style="padding-top:5px;">
                <i class="fa fa-users fa-3x"></i>
            </div>
            <ul>
                <li ng-repeat="user in users">
                    <small>
                        <div class="text-left">
                            <i class="fa fa-user"></i> {{user}}
                        </div>
                    </small>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="text-right">
    <p>&copy; <a href="github.com/sattarab"> sattarab </a></p>
</div>
