<div class="container">
    <p class="p-custom-2 text-custom-1">USER LIST</p>
    <ul>
        <li ng-repeat="user in users">
            <p class="p-custom text-custom-1"/>
                {{user}}
            </p>
        </li>
    </ul>
    <p class="p-custom-2 text-custom-1">MESSAGES</p>
    <div>
        <ul>
                <li ng-repeat="message in messages">
                    <p class="p-custom text-custom-1"/>
                        <img ng-src="{{message.src}}" style="width:30px">  {{message.user}} : {{message.message}}
                    </p>
                </li>
        </ul>
    </div>
    <form class="form-inline" ng-submit="sendMessage()">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="message" placeholder="Message" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-success">
        </div>
    </form>
    <br>
    <form class="form-inline" ng-submit="sendMessage()">
        <p class="p-custom-2 text-custom-1">TO CHANGE NAME PLEASE FILL OUT THE FORM BELOW</p>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="newname" placeholder="Name" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Change Name" class="btn btn-danger">
        </div>
    </form>
</div>